* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Start */


.container {
  margin: auto;
  border: 1px solid black;
  width: 375px;
}

h4 {
  font-family: Barlow;
  font-weight: 500;
  color: #7B8BAD;
  margin-inline: 24px;
  margin-bottom: 32px;
}

.hero {
  display: flex;
  flex-direction: row;
  height: 48px;
  margin-top: 23px;
  margin-inline: 24px;
  border: 1px solid red;
  margin-bottom: 64px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 58px;
  }

  h4 {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    background-color: #E8EFF2;
    padding: 11px 13px;
    color: #162542;
  }
}


.section-1 {

  .item-1 {
    width: 327px;
    margin-bottom: 32px;

    .title {
      font-family: Barlow;
      font-size: 48px;
      line-height: 48px;
      margin-inline: 24px;
      margin-bottom: 32px;
      text-align: center;
    }

    .write {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 500;
      color: #7B8BAD;
      margin-inline: 24px;
    }

    .button-and-write {
      display: flex;
      flex-direction: row;
      width: 375px;

      .order {
        font-family: Barlow;
        font-size: 16px;
        font-weight: 700;
        width: 280px;
        color: white;
        background-color: #F16718;
        padding: 11px 14px;
        margin-bottom: 64px;
      }

      .date {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }

  .item-2 {
    img {
      width: 372px;
    }
  }
}

.section-2 {
  .item-3 {
    .keyboard-2 {
      width: 129px;
      height: auto;
      clip-path: inset(0 0 0 10px);
    }

    .keyboard-3 {
      width: 220px;
    }
  }

  .item-4 {

    .title {
      font-family: Barlow;
      font-size: 32px;
      line-height: 36px;
      margin-inline: 60px;
      text-align: center;
      margin-bottom: 24px;
    }

    .write {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 500;
      color: #7B8BAD;
      margin-inline: 24px;
    }
  }
}

.section-3 {

  .logo-title-write {
    h2 {
      font-family: Barlow;
      font-size: 24px;
      line-height: 28px;
      margin-inline: 24px;
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .logo {
    margin-inline: 155px;
    margin-bottom: 48px;
  }
}


.boxes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.crop-vertical-keyboard-1 {
  width: 94%;
  overflow: hidden;
}

.crop-vertical-keyboard-1 img {
  width: 372px;
  height: 331px;
  margin-left: 24px;
}

span {
  font-weight: 700;
}

/* Mobile End */

/* Tablet Start */
@media (width > 760px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 142px;
  }

  .container {
    border: 1px solid black;
    width: 768px;
  }

  .hero h4 {
    margin-left: 410px;
  }

  .section-1 {
    display: flex;
    flex-direction: row;

    .item-1 {
      width: 339px;
      margin-right: 69px;
    }

    .item-2 {
      margin-bottom: 40px;
    }
  }

  .section-2 {
    margin-bottom: 142px;

    .item-3 {
      margin-left: 39px;
      margin-bottom: 72px;

      .keyboard-2 {
        width: 214px;
        height: 320px;
        margin-right: 30px;
        clip-path: none;
      }

      .keyboard-3 {
        width: 445px;
        height: 320px;
      }
    }
  }

  .crop-vertical-keyboard-1 {
    width: 75%;
    overflow: hidden;
  }

  .crop-vertical-keyboard-1 img {
    width: 478px;
    height: 425px;
    margin-left: 24px;
  }

  .section-2 {

    .item-3 {
      grid-column: 1 / span 2;
    }

    .item-4 {
      display: flex;
      flex-direction: row;

      grid-column: 1 / span 2;
    }
  }

  .crop-vertical-keyboard-2 img {
    width: 214px;
    height: 320px;
    margin-left: 24px;
    margin-right: 30px;
    clip-path: inset(0 0 0 0px);
  }

  .crop-vertical-keyboard-3 img {
    width: 445px;
    height: 320px;
    /* margin-left: 24px; */
    /* clip-path: inset(0 0 0 10px); */
  }

  .keyboard-title-and-write {
    display: flex;
    flex-direction: row;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: start;
  }

  .write {
    width: 300px;
    align-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  body {
    margin-bottom: 43px;
  }
}

/* Tablet End */

/* Computer Start */
@media (width > 1024px) {
  .container {
    margin: auto;
    border: 1px solid black;
    width: 1110px;
  }

  .hero img {
    margin-right: 400px;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .section-1 {

    .item-1 {
      width: 500px;
      margin-right: 125px;
    }

    .item-2 {
      img {
        width: 540px;
        height: 480px;
      }
    }
  }

  .section-2 {
    display: flex;
    flex-direction: row;

    .item-4 {
      flex-direction: column;
    }
  }

  .date {
    width: 100px;
  }

  .section-3 {

    .logo-title-write {
      width: 255px;

      h2 {
        text-align: start;
      }
    }

    .logo {
      margin-left: 20px;
      margin-bottom: 48px;
    }

    .item-3,
    .item-4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item-3 {
      grid-row: 2;
      grid-column: 1;
    }

    .item-4 {
      grid-row: 2;
      grid-column: 2;
    }

    .item-5 {
      grid-row: 3;
      /* grid-column: 1; */
    }

    .keyboard-title-and-write {
      display: flex;
      flex-direction: column;
    }

    .write {
      width: 200px;
    }

    .crop-vertical-keyboard-1 {
      width: 99%;
      /* overflow: hidden; */
    }
  }
}

/* Computer End */